
<div class="div bootstrap-wrapper">
    <div class="div container text-center">
        <br>
        <h1 style="font-size: 40px;">Welcome to Inventory Management Portal</h1>
        <img src="../../assets/pepsico-india-logo.jpg" alt="PespsiCo banner" >
        
        <div class="div container text-left">
            <p style="font-size: medium; "><b>Inventory Management</b> is the No.1 inventories mananging place where all required inventories are available.
</p>  <br>
<p style="font-size: medium; ">With India’s favorite brands like Lay’s, Pepsi, Quaker, Tropicana & Gatorade in its 22-brand portfolio, PepsiCo is one of India’s largest food & beverage enterprise. Read on & dive in to the world we’ve been creating since 1989.</p>
<br>
<h2>PepsiCo India: Leadership through Winning with Purpose</h2>    
<hr attribute="value">
<p style="font-size: medium;">PepsiCo entered India in 1989 and has grown to become one of the largest MNC food and beverage businesses in India. PepsiCo India’s diverse portfolio includes iconic brands like Pepsi, Lay’s, Kurkure, Tropicana 100%, Gatorade and Quaker. Guiding PepsiCo is our vision to Be the Global Leader in Convenient Foods and Beverages by Winning with Purpose. We believe that continuously improving the products we sell, operating responsibly to protect our planet and empowering people around the world is what enables PepsiCo to run a successful global company that creates long-term value for society and our shareholders.</p>
<br>
<h2>More About PespsiCo</h2>
<img src="../../assets/masthead.jpg" alt="PespsiCo banner"  style="max-width: 700px;max-height: 200px;">
<p style="font-size: medium;">PepsiCo is the largest food and beverage company in North America and the second-largest in the world, behind only Nestlé. PepsiCo’s products include a wide range of household-name food and beverage brands, including Pepsi, Gatorade, Frito-Lay, Quaker Oats, Rockstar Energy, and Muscle Milk. The company in its current form was founded in 1965 with the merger of the Pepsi-Cola Company and Frito-Lay Inc., and has continued to expand ever since. As of 2021, PepsiCo’s product portfolio includes 23 brands that generate more than $1 billion each in estimated annual retail sales. The company’s products are consumed more than 1 billion times a day in more than 200 countries and territories around the world. In 2020, the company announced it will donate $570 million over five years to Black- and Hispanic-owned businesses across the country.
</p>
<h2>Our Brands</h2>

  

<img src="../../assets/brands.png" alt="Second slide" style="max-width: 700px;max-height: 200px;">
<br><br>
<ol style="font-size: medium;color: #000;font-family: sans-serif;">
  <li> Quaker Oats</li>
  <li> Tropicana</li>
  <li> Gatorade and Propel</li>
  <li> Pepsi</li>
  <li> Mountain Dew</li>
  <li> Lay's</li>
  <li> Kurkure</li>
  <li> 7up</li>
  <li> Mirinda</li>
</ol>



</div>
    
</div>
</div>
&nbsp;
&nbsp;
&nbsp;
