<div class="div bootstrap-wrapper">
    <div class="div container text-center">
        <h1 style="font-size: 40px;">Welcome to Course Registration Management Website</h1>
        
        <div class="div container text-left">
            <p style="font-size: 20px; "><b>CTS IT</b> is the No.1 Quality Software Training Institute for the candidates who want to build their future in Information Technology.
            </p><br><p>industries have the biggest markets in the world with an ever-growing demand for skilled professionals. According to Glassdoor, there is a high demand for software developers in the United States with an average annual salary of US$95,022. Even in India, the demand for software developers is rising skyrockets with an average salary of ₹503,397 per annum.
            <br><br><br>
            You can kick-start your career in this most promising domain by getting a bachelor’s degree in software engineering, computer science, information technology, or mathematics. After that, you can join any of these best software development courses and get trained in the specific technology of your choice to land a top job. <br>Here, we will be sharing the details of some of the trending Software Development classes that you can join to advance your career as a software engineer.</p>
            Top Technologies:
            <ul>
                <li>Full Stack Java</li>
                <li>Full Stack DotNet</li>
                <li>Full Stack Python</li>
                <li>DevOps</li>
                <li>Amazon Web Services(AWS)</li>
                <li>Core Java</li>
                <li>Mobile App Development</li>
                <li>Cyber Security</li>
                <li>UI/UX Developer</li>
            </ul>Click here to view Available courses<br>
            <button class="btn btn-warning"  routerLink="/courselist">Coures</button>
            <h2 style="color:blue">Register Early and Save</h2>
           <ul><li>Pay in full, and in advance of your class start date and save money.
            </li>
            <li>Pay in full before the class start date and save
            Enroll and pay in full 45 days or more in advance of your class start date and save
            </li></ul>
            Click here to Register<br>
            <button class="btn btn-warning"  routerLink="/addstudent">Register</button><br>NOTE:  For more information about the new batches and start dates of our software training courses, or possibly starting late, please contact us
         </div>
    </div>
</div>