<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h1 class="text-center mt">Course List</h1>
<div class="bootstrap-wrapper">
    <div class="container mt">
        <button  mat-raised-button color="primary" class="mb"  routerLink='/addCourse'>Add Course</button>
        <div class="row">
<table id="customers">
    
    <thead>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Duration</th>
            <th>Fee</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of playerarray">
            <td>{{player.courseId}}</td>
            <td>{{player.courseName}}</td>
            <td>{{player.duration}}</td>
            <td>{{player.fee}}</td>
            
        </tr>  
  </tbody>
</table>
<h3 class="text-center red">{{noDataDisplay}}</h3>
</div>
</div>
</div>

</body>
</html>