<html>
<head>
</head>
<body>


<h1 class="text-center mt">Student List</h1>
<div class="bootstrap-wrapper">
    <div class="container mt text-center">
        <form (submit)="searchByName()">
            <input type="text" placeholder="Search.." name="search" [(ngModel)]="searval">
            <button mat-raised-button color="primary" type="submit">Search</button>
          </form>
        <a  mat-raised-button color="primary" class="mb mt" routerLink='/student'>Back</a> &nbsp;
        <div class="row">
<table *ngIf="data" id="customers">  
    <thead>
        <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Age</th>
            <th>Student Email</th>
            <th>Qualification</th>
            <th>PhoneNo</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{fetchedData.studentId}}</td>
            <td>{{fetchedData.studentName}}</td>
            <td>{{fetchedData.age}}</td>
            <td>{{fetchedData.studentEmail}}</td>
            <td>{{fetchedData.qualification}}</td>
            <td>{{fetchedData.phoneNo}}</td>
            <td>{{fetchedData.course}}</td>   
        </tr>  
  </tbody>
</table>
<h3 *ngIf="!data" class="text-center red">{{noDataDisplay}}</h3>
</div>
</div>
</div>

</body>
</html>